@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="row">
    <div class="col s12">
        <div class="valign">
            <div id="registration-form" class="col s12 m6 push-m3 ">
                <div class="card-panel white">
                    <form method="post" asp-area="Identity" asp-page="/Account/Register">
                        <h5 class="center">Регистриране на учител или директор</h5>
                        <div class="form-group mx-auto">
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    <label asp-for="Input.Email" class="font-weight-bold">Email</label>
                                    <input type="email" id="email" asp-for="Input.Email">
                                    <span asp-validation-for="Input.Email" class="red-text"></span>
                                </div>
                                <div class="input-field col s12 m4">
                                    <label asp-for="Input.FullName" class="font-weight-bold">Име и Фамилия</label>
                                    <input type="text" id="fullName" asp-for="Input.FullName">
                                    <span asp-validation-for="Input.FullName" class="red-text"></span>
                                </div>
                                <div class="input-field col s12 m4">
                                    <label asp-for="Input.PhoneNumber" class="font-weight-bold">Телефон</label>
                                    <input type="tel" id="phoneNumber" asp-for="Input.PhoneNumber">
                                    <span asp-validation-for="Input.PhoneNumber" class="red-text"></span>
                                </div>
                                <div class="input-field col s12 m4">
                                    <label asp-for="Input.Password" class="font-weight-bold">Парола</label>
                                    <input type="password" id="password" asp-for="Input.Password">
                                    <span asp-validation-for="Input.Password" class="red-text"></span>
                                </div>
                                <div class="input-field col s12 m4">
                                    <label asp-for="Input.ConfirmPassword" class="font-weight-bold">Потвърждаване на паролата</label>
                                    <input type="password" id="confirmPassword" asp-for="Input.ConfirmPassword">
                                    <span asp-validation-for="Input.ConfirmPassword" class="red-text"></span>
                                </div>
                                <div class="input-field col s12 m4">
                                    <label asp-for="Input.RegisterCode" class="font-weight-bold">Код За Регистрация</label>
                                    <input type="text" id="registerCode" asp-for="Input.RegisterCode">
                                    <span asp-validation-for="Input.RegisterCode" class="red-text"></span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 34px; margin-right: 15px;">
                                <div class="right-align">
                                    <button class="btn waves-effect waves-light gradient-animation" type="submit"
                                            name="action">
                                        Регистрация
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
