@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Смяна на паролата";
}
<div>
    <!-- Show Side Bar -->
    <a onclick="openNav()" class="waves-effect waves-light btn hide-on-med-and-down app-light" id="show-nav" style="margin-top: 20px; margin-left: 20px; padding-left: 10px; padding-right: 10px">
        <i class="material-icons">format_indent_increase</i>
    </a>
</div>

<main id="main">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="title" style="position: relative">
                    <div class="row" id="white">
                        <div class="col s12" style="margin-top: 28px">
                            <h4 class="white-text" style="display: inline; position: relative; bottom: 16px">Смяна на паролата</h4>
                        </div>
                    </div>
                </div>

                <div class="card-panel white">
                    <form method="post" class="w-50 mx-auto">
                        <div class="row">
                            <div class="input-field col s12">
                                <label asp-for="Input.OldPassword" class="font-weight-bold">Стара парола</label>
                                <input type="password" id="oldPassword" asp-for="Input.OldPassword">
                                <span asp-validation-for="Input.OldPassword" class="red-text"></span>
                            </div>
                            <div class="input-field col s12 m6">
                                <label asp-for="Input.NewPassword" class="font-weight-bold">Нова парола</label>
                                <input type="password" id="newPassword" asp-for="Input.NewPassword">
                                <span asp-validation-for="Input.NewPassword" class="red-text"></span>
                            </div>
                            <div class="input-field col s12 m6">
                                <label asp-for="Input.ConfirmPassword" class="font-weight-bold">Потвърди паролата</label>
                                <input type="password" id="confirmPassword" asp-for="Input.ConfirmPassword">
                                <span asp-validation-for="Input.ConfirmPassword" class="red-text"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 34px">
                            <div class="right-align">
                                <button class="btn waves-effect waves-light gradient-animation" type="submit">
                                    Запази
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="waves-effect btn-flat left" asp-area="Identity" asp-page="/Account/Manage/Index" style="margin-top: -20px; color: #909090"><i class="material-icons left">keyboard_arrow_left</i>Назад</a>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}